interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://hapi.fhir.org/baseR4/Patient/NON_EXISTENT_ID_XYZ_123
  response:
    body:
      string: "{\n  \"resourceType\": \"OperationOutcome\",\n  \"text\": {\n    \"status\":
        \"generated\",\n    \"div\": \"<div xmlns=\\\"http://www.w3.org/1999/xhtml\\\"><h1>Operation
        Outcome</h1><table border=\\\"0\\\"><tr><td style=\\\"font-weight: bold;\\\">ERROR</td><td>[]</td><td>HAPI-2001:
        Resource Patient/NON_EXISTENT_ID_XYZ_123 is not known</td></tr></table></div>\"\n
        \ },\n  \"issue\": [ {\n    \"severity\": \"error\",\n    \"code\": \"processing\",\n
        \   \"diagnostics\": \"HAPI-2001: Resource Patient/NON_EXISTENT_ID_XYZ_123
        is not known\"\n  } ]\n}"
    headers:
      Content-Type:
      - application/fhir+json;charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
